/* @(#)stylesheet.css	1.2 01/11/19 */

/* Define colors, fonts and other style attributes here to override the defaults  */

/* Page background color */
body { background-color: #FFFFFF }

/* Table colors */
.TableHeadingColor     { background: #CCCCFF } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: normal; font-family: normal }
.FrameHeadingFont { font-size: normal; font-family: normal }
.FrameItemFont    { font-size: normal; font-family: normal }

/* Example of smaller, sans-serif font in frames */
/* .FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif } */

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF;}/* Light mauve */
.NavBarCell1Rev { background-color:#00008B;}/* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

H1.DocumentTitle {
	margin-right: 24.000000pt;
	font-size: 32.000000pt;
	font-weight: Bold;
	font-family: "Arial, Helvetica, sans-serif";
}
H1.ChapterTitle, H1  {
	font-size: 21.000000pt;
	font-weight: medium;
	font-family: "Arial, Helvetica, sans-serif";
}
H2.TitleContinuation {
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	font-size: 20.000000pt;
	font-weight: medium;
	font-family: "Arial, Helvetica, sans-serif";
}
H2.SectionTitle, H2 {
	font-size: 20.000000pt;
	font-weight: medium;
	font-family: "Arial, Helvetica, sans-serif";
}
P.Paragraph, P {
	margin-top: 8.000000pt;
<--	font-size: 12.00000pt;
	font-weight: medium;
	font-family: "Times"; -->
}
P.Codeline {
	font-size: 10.00000pt;
	font-weight: medium;
	font-family: "Courier";
}
P.Paragraph-Credits {
	margin-bottom: 10.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.TableCaption, H2.TableCaption, H3.TableCaption, H4.TableCaption, H5.TableCaption, H6.TableCaption {
	text-indent: -48.000000pt;
	margin-left: 120.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-family: "Arial, Helvetica, sans-serif";
}
Table.Table {
	margin-top: 8.000000pt;
	font-size: 12.00000pt;
	font-weight: medium;
	font-family: "Arial, Helvetica, sans-serif";
}
P.TableHead {
	font-size: 10.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.TableText {
	font-size: 10.00000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.List1 {
	display: list-item;
	text-indent: 72.000000pt;
	margin-top: 8.000000pt;
	margin-left: 12.000000pt;
	font-size: 12.00000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.Note {
	margin-top: 8.000000pt;
	font-size: 9.500000pt;
	font-weight: medium;
	font-family: "Times";
}
EM.Code {
	font-weight: medium;
	font-family: "Courier";
}
LI.Bullet1 {
	display: list-item;
	text-indent: -12.000000pt;
	margin-top: 4.000000pt;
	margin-left: 12.000000pt;
	font-size: 12.00000pt;
	font-weight: medium;
	font-family: "Times";
}
A.link {
	color: blue;
	text-decoration: underline;
}
A.visited {
	color: purple;
	text-decoration: underline;
}
A.active {
	color: red;
	text-decoration: underline;
}
P.AlmanacClassHead {
	font-size: 11.000000pt;
	font-weight: Bold;
	color: #ffffff;
	font-family: "Helvetica";
}
P.AlmanacClassHeadTOC {
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.AlmanacClassPreHead {
	text-align: right;	font-size: 10.000000pt;
	font-weight: Bold;
	font-family: "Helvetica";
}
P.AlmanacClassTree {
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Helvetica";
}
P.AlmanacHead {
	margin-bottom: 86.000000pt;
	font-size: 36.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.AlmanacHeadTOC {
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.AlmanacLegendHead {
	margin-top: 16.000000pt;
	margin-bottom: 1.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.AlmanacTableCode {
	text-indent: -21.000000pt;
	margin-left: 21.000000pt;
	font-size: 8.000000pt;
	font-weight: Bold;
	font-family: "Helvetica";
}
P.AlmanacTableCodeReturn {
	text-align: right;
	text-indent: -13.000000pt;
	margin-left: 13.000000pt;
	font-size: 8.000000pt;
	font-weight: medium;
	font-family: "Helvetica";
}
P.AlmanacTableSince {
	text-align: right;	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.AlmanacTableSymbols {
	text-align: center;	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "ZapfDingbats";
}
P.BookAuthor {
	text-align: center;	margin-top: 60.000000pt;
	font-size: 20.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.BookCopyright {
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.BookDedication {
	text-align: center;	margin-top: 13.000000pt;
	margin-bottom: 13.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Italic;
	font-family: "Times";
}
P.BookPublisher {
	text-align: center;	margin-top: 80.000000pt;
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.BookSubTitle {
	text-align: center;	margin-top: 16.000000pt;
	font-size: 24.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.BookTitle {
	text-align: center;	font-size: 34.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.BookVersion {
	text-align: center;	margin-top: 60.000000pt;
	font-size: 20.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ChapterHead {
	margin-bottom: 86.000000pt;
	font-size: 36.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ChapterHeadTOC {
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.ChapterNumber {
	text-align: right;	margin-top: 22.000000pt;
	font-size: 18.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.ChapterSubHead, H2.ChapterSubHead, H3.ChapterSubHead, H4.ChapterSubHead, H5.ChapterSubHead, H6.ChapterSubHead {
	text-indent: -36.000000pt;
	margin-top: 34.000000pt;
	margin-bottom: 7.000000pt;
	margin-left: 36.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.ChapterSubHeadTOC {
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.ChapterSubSubHead, H2.ChapterSubSubHead, H3.ChapterSubSubHead, H4.ChapterSubSubHead, H5.ChapterSubSubHead, H6.ChapterSubSubHead {
	text-indent: -36.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 4.000000pt;
	margin-left: 36.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.ChapterSubSubSubHead {
	text-align: justify;	margin-top: 7.000000pt;
	font-size: 10.500000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.ClassBlockquote {
	text-align: justify;	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 18.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.ClassBullet {
	text-align: justify;
	text-indent: -9.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ClassCodeFragment {
	margin-left: 18.000000pt;
	font-size: 8.500000pt;
	font-weight: medium;
	font-family: "Courier";
}
H1.ClassDeclaration, H2.ClassDeclaration, H3.ClassDeclaration, H4.ClassDeclaration, H5.ClassDeclaration, H6.ClassDeclaration {
	text-indent: -18.000000pt;
	margin-left: 18.000000pt;
	font-size: 8.500000pt;
	font-weight: medium;
	font-family: "Courier";
}
H1.ClassHead, H2.ClassHead, H3.ClassHead, H4.ClassHead, H5.ClassHead, H6.ClassHead {
	font-size: 30.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ClassHeadTOC {
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.ClassNumbered-1 {
	text-indent: -18.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.ClassNumbered-2 {
	text-indent: -18.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.ClassPreHead, H2.ClassPreHead, H3.ClassPreHead, H4.ClassPreHead, H5.ClassPreHead, H6.ClassPreHead {
	font-size: 18.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.ClassSubHead, H2.ClassSubHead, H3.ClassSubHead, H4.ClassSubHead, H5.ClassSubHead, H6.ClassSubHead {
	margin-top: 16.000000pt;
	margin-bottom: 1.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
H1.ClassSubHeadRunIn, H2.ClassSubHeadRunIn, H3.ClassSubHeadRunIn, H4.ClassSubHeadRunIn, H5.ClassSubHeadRunIn, H6.ClassSubHeadRunIn {
	margin-top: 16.000000pt;
	margin-bottom: 1.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
H1.ClassSubSubHead, H2.ClassSubSubHead, H3.ClassSubSubHead, H4.ClassSubSubHead, H5.ClassSubSubHead, H6.ClassSubSubHead {
	margin-top: 11.000000pt;
	font-size: 10.500000pt;
	font-weight: Bold;
	font-family: "Times";
}
H1.ClassSubSubSubHead, H2.ClassSubSubSubHead, H3.ClassSubSubSubHead, H4.ClassSubSubSubHead, H5.ClassSubSubSubHead, H6.ClassSubSubSubHead {
	margin-top: 11.000000pt;
	font-size: 10.500000pt;
	font-weight: Bold;
	font-style: Italic;
	font-family: "Times";
}
P.ClassTableAnchor {
	text-align: justify;	margin-bottom: 5.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.ClassTagText, H2.ClassTagText, H3.ClassTagText, H4.ClassTagText, H5.ClassTagText, H6.ClassTagText {
	margin-bottom: 5.000000pt;
	margin-left: 20.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ClassText-1 {
	margin-bottom: 5.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ClassText-2 {
	margin-top: 3.000000pt;
	margin-bottom: 3.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.ClassTree {
	font-size: 8.500000pt;
	font-weight: medium;
	font-family: "Courier";
}
P.GroupTitlesIX {
	text-align: justify;	margin-top: 12.000000pt;
	font-size: 18.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.IndexHead {
	margin-bottom: 12.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.IndexHeadTOC {
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.IndexIX {
	font-size: 11.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.Level1IX {
	text-indent: -36.000000pt;
	margin-left: 36.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.Level2IX {
	text-indent: -18.000000pt;
	margin-left: 36.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.Mapping-Table-Cell {
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.Mapping-Table-Title {
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.MemberBlockquote {
	margin-bottom: 5.000000pt;
	margin-right: 36.000000pt;
	margin-left: 36.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.MemberBullet {
	text-align: justify;
	text-indent: -9.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 36.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.MemberCodeFragment {
	margin-left: 18.000000pt;
	font-size: 8.500000pt;
	font-weight: medium;
	font-family: "Courier";
}
P.MemberDeclaration {
	text-indent: -63.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 81.000000pt;
	font-size: 8.500000pt;
	font-weight: medium;
	font-family: "Courier";
}
H1.MemberGroupHead, H2.MemberGroupHead, H3.MemberGroupHead, H4.MemberGroupHead, H5.MemberGroupHead, H6.MemberGroupHead {
	text-indent: -72.000000pt;
	margin-top: 16.000000pt;
	font-size: 16.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
H1.MemberHead, H2.MemberHead, H3.MemberHead, H4.MemberHead, H5.MemberHead, H6.MemberHead {
	text-indent: -72.000000pt;
	margin-top: 16.000000pt;
	margin-bottom: 5.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.MemberHeadDeclaration {
	text-indent: -72.000000pt;
	margin-top: 16.000000pt;
	margin-bottom: 6.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-family: "Courier";
}
LI.MemberNumbered-1 {
	text-indent: -18.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 36.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
LI.MemberNumbered-2 {
	text-indent: -18.000000pt;
	margin-bottom: 5.000000pt;
	margin-left: 36.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.MemberSubHead, H2.MemberSubHead, H3.MemberSubHead, H4.MemberSubHead, H5.MemberSubHead, H6.MemberSubHead {
	text-indent: -48.000000pt;
	margin-top: 5.000000pt;
	margin-left: 66.000000pt;
	font-size: 10.500000pt;
	font-weight: Bold;
	font-family: "Times";
}
H1.MemberSubHeadRunIn, H2.MemberSubHeadRunIn, H3.MemberSubHeadRunIn, H4.MemberSubHeadRunIn, H5.MemberSubHeadRunIn, H6.MemberSubHeadRunIn {
	text-indent: -48.000000pt;
	margin-top: 5.000000pt;
	margin-left: 66.000000pt;
	font-size: 10.500000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.MemberTagText {
	margin-bottom: 5.000000pt;
	margin-left: 36.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.MemberText {
	text-align: justify;	margin-bottom: 5.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.OverviewHead {
	font-size: 36.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.OverviewHeadTOC {
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.PackageHead, H2.PackageHead, H3.PackageHead, H4.PackageHead, H5.PackageHead, H6.PackageHead {
	font-size: 30.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.PackageHeadTOC {
	font-size: 14.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.PackagePreHead, H2.PackagePreHead, H3.PackagePreHead, H4.PackagePreHead, H5.PackagePreHead, H6.PackagePreHead {
	font-size: 18.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.PackageTextBlockQuote {
	margin-bottom: 5.000000pt;
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.PackageTopOfPage {
	font-size: 10.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.RunFooter-L {
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.RunFooter-R {
	text-align: right;	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.RunHeader-L {
	font-size: 10.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.RunHeader-R {
	text-align: right;	font-size: 10.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.RunHeaderCenter-L {
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.RunHeaderCenter-R {
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.RunSubHeader-L {
	margin-top: 2.500000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.RunSubHeader-R {
	text-align: right;	margin-top: 2.500000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.TableCode, H2.TableCode, H3.TableCode, H4.TableCode, H5.TableCode, H6.TableCode {
	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Courier";
}
P.TableCode-Z {
	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Courier";
}
H1.TableCodeReturn, H2.TableCodeReturn, H3.TableCodeReturn, H4.TableCodeReturn, H5.TableCodeReturn, H6.TableCodeReturn {
	text-align: right;	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Courier";
}
P.TableHead {
	font-size: 12.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
H1.TableSubHead, H2.TableSubHead, H3.TableSubHead, H4.TableSubHead, H5.TableSubHead, H6.TableSubHead {
	font-size: 10.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
P.TableText {
	font-size: 9.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.TableText-Z {
	font-size: 9.500000pt;
	font-weight: medium;
	font-family: "Times";
}
P.TableTextIndent {
	margin-left: 20.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Times";
}
P.TableTextIndent-Z {
	margin-left: 20.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-family: "Times";
}
H1.TOCHead, H2.TOCHead, H3.TOCHead, H4.TOCHead, H5.TOCHead, H6.TOCHead {	margin-bottom: 12.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-family: "Times";
}
EM.Bold {
	font-weight: Bold;
}
EM.BoldCode {
	font-weight: Bold;
	font-family: "Courier";
}
EM.BoldItalic {
	font-weight: Bold;
	font-style: Italic;
}
EM.BoldSubscript {
	font-weight: Bold;
	vertical-align: sub;
}
EM.BoldSuperscript {
	font-weight: Bold;
	vertical-align: super;
}
EM.ChapterNumber {
	font-size: 60.000000pt;
	font-weight: medium;
	font-family: "Times";
}
EM.Code {
	font-family: "Courier";
}
EM.Italic {
	font-style: Italic;
}
EM.Link {
	color: #0000ff;
	font-family: "Courier";
}
EM.SmallCaps {
}
EM.Subscript {
	vertical-align: sub;
}
EM.Superscript {
	vertical-align: super;
}
EM.Symbol {
	font-family: "Symbol";
}
EM.TableContinued {
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Italic;
	font-family: "Times";
}
EM.Underline {
	text-decoration: underline ;
}
EM.ZapfDingbats {
	font-weight: medium;
	font-family: "ZapfDingbats";
}
/* @since MIDP 2.0 */
